<p id="notice"><%= notice %></p>

<h1>Пользователи</h1>

<table>
  <thead>
    <tr>
      <th>Имя пользователя  </th>
      <th>Всего дел</th>
      <th>Дел выполнено</th>
      <th>Дел не выполнено</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= all_counter = user.events.size%></td>
        <td><%=done_counter = (@done_events_amount[user.id] ? @done_events_amount[user.id] : 0 )%></td>
        <td><%=all_counter - done_counter %></td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
